@font-face {
  font-family: "Abalone";
  src: url("../fonte/AbaloneSmile.woff2");
}

.fundo{
    background-color: #67ad5a;
}

.abalone {
    font-family: "Abalone";
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(84,64,91);
}

.fonte_header {
    text-transform: uppercase;
    color: rgb(84,64,91);
    font-weight: bold;
    border: 2px solid rgb(84,64,91);
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
}

.fonte_header:hover {
    color: white;
}

.btn-header {
    background-color: rgb(84, 64, 91);
    color: white;
}

.btn-header:hover {
    background-color: #44354a;
    color: white;
}   

.btn-outline-header {
    color: rgb(84,64,91);
    border-color: rgb(84,64,91);
}

.btn-outline-header:hover {
    color: white;
    border-color: rgb(84,64,91);
    background-color: rgb(84, 64, 91);
}

.sub-header {
    margin-top: -25px;
}

.pesquisa {
    border: 1px solid rgb(84, 64, 91);
    border-radius: 25px;
    width: 40%;
    padding: 5px;
    padding-left: 25px;
}
.lupa {
    font-size: 25px;
    color: rgb(84, 64, 91);
    margin-left: 10px;
    margin-top: 5px;
    border: none;
    background-color: #67ad5a;
}

.lupa:hover {
    color: white;
}

ul li a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(84, 64, 91);
    border-bottom: 2px solid rgb(84, 64, 91);
    margin: 10px;
}

ul li a:hover {
    color: white;
}

.tag {
    color: white;
}

.tag:hover {
    color: rgb(84, 64, 91);
}

.img_carousel {
    width: 100%;
    height: 400px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .card {
    height: 380px;
  }

  .card_emprego {
    height: 300px;
  }

  .card_servico {
    height: 260px;
  }

  .valor_servico {
    display: block;
    font-weight: bold;
  }

  footer {
    color: rgb(84, 64, 91);
  }

  .album {
    margin-top: -20px;
  }

  .header-login {
    background-color: rgb(84, 64, 91);
    color: white;
    font-weight: bold;
  }

  .header-card {
    background-color: rgb(226, 212, 231);
  }

  .btn-user {
    text-transform: uppercase;
    color: rgb(84,64,91);
    font-weight: bold;
    border: 2px solid rgb(84,64,91);
    border-radius: 25px;
    margin: 10px;
    padding: 5px 20px 5px 25px;
  }

  .btn-user:hover {
    color: #44354a;
}

.fundo_container {
  background-color: #edefef;
}

.img_anuncio {
  height: 350px;
  padding: 15px;
  margin-left: 15px;
}

.img_anuncio img {
  height: 100%;
  width: 100%;
}

.card-inner {
  border-bottom: 1px solid #dedede;
  height: 210px;
}

.card-title {
  color: #1C1C1C;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.card-text {
  height: 78px;
}

.card-title:hover {
  color: #632b7a;
  text-decoration: none;
}

.preco {
  padding-top: 10px;;
}

.link-desc {
  color: #632b7a;
}

.link-desc:hover {
  color: #632b7a;
  font-weight: bold;
}

h6 {
  display: inline;
}

.branco {
  color: white;
}

.my-area, .my-area:hover {
  font-family: "Abalone";
  text-transform: uppercase;
  color: rgb(84,64,91);
}

.busca-my-area {
  height: 60px;
}

.btn-my-area {
  margin-top: -15px;
  border-color: rgb(84,64,91);
  color: rgb(84,64,91);
}

.btn-my-area:hover {
  background-color: rgb(84,64,91);
  color: white;
}

.btn-my-modal {
  border-color: rgb(84,64,91);
  color: rgb(84,64,91);
}

.btn-my-modal:hover {
  background-color: rgb(84,64,91);
  color: white;
}

.views {
  color: rgb(84,64,91);
  font-size: 20px;
  margin-left: 20px;
  margin-top: 4px;
}

.view_servico {
  margin: auto;
  margin-left: 130px;
  padding-bottom: 15px;;
}

.mt-neg {
  margin-top: -10px;
}

.div_view {
  margin-left: -70px;;
}

.div_preco {
  margin-left: 30px;
}

.card_emp_direito {
  height: 260px;
  background-color: #edefef;
  margin: 17px;
}

.fa-hotel, .fa-map, .fa-pen-nib, .fa-calendar {
  font-size: 35px;
  margin: 15px;
  color: rgb(84,64,91);
}

.fa-map, .fa-pen-nib, .fa-calendar {
  font-size: 28px;
}

.title-emp {
  font-size: 15px;
  font-weight: bold;
}

.content-emp {
  font-size: 15px;
}

.btn-anuncio {
  border: 2px solid rgb(84,64,91);
  border-radius: 25px;
  font-size: 15px;
  padding: 10px 45px;
  font-weight: bold;
  color: rgb(84,64,91);
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-anuncio:hover {
  text-decoration: none;
  background-color: rgb(84,64,91);
  color: white;
}

.icone-carousel {
  color: black;
  font-size: 30px;
}

.dropdown-item {
  cursor: pointer;
}

.btn-card {
  width: 50px;
  color: rgb(84,64,91);
  border-color: rgb(84,64,91);
}

.btn-card:hover {
  color: white;
  border-color: rgb(84,64,91);
  background-color: rgb(84, 64, 91);
}

.text-card {
  color: rgb(84,64,91);
}

.text-card:hover {
  color: rgb(84,64,91);
  text-decoration: none;
  font-weight: bold;
}

.foto-card {
  height: 225px;
  width: 250px;
  margin: 10px 10px 0px 55px;
}

.no-anuncio {
  color: rgb(84,64,91);
  font-weight: bold;
  text-align: center;
  padding: 50px 0px;
}

.bordas {
  border: 1px solid red;
}

.titulo_filtro {
  color:rgb(84, 64, 91);
}

.titulo_inativar {
  font-weight: bold;
}

.close-alert {
  font-size: 20px;
  color: #7FAA92;
  float: right;
  margin-right: -45px;
  margin-top: -25px;
}

.close-alert:hover {
  cursor: pointer;
  color: #597767;
}